.info-cart {
  padding: 10px;
  margin-left: 50px;
  margin-top: 50px;
}
.image-product-cart {
  max-height: 100px !important;
}
.select-size {
  max-width: fit-content !important;
}
.total-price {
  max-width: 350px !important;
  border: none;
}
.btn-cart {
  display: inline-block;
  padding-top: 2px;
  background: rgb(242, 242, 242);
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  margin-right: 4px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table-cart {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}
.table td {
  border-top: none !important;
}
.table thead th {
  border-bottom: none !important;
}
.cart-items {
  border-bottom: none !important;
  border-top: 1px dashed rgb(229, 229, 229) !important;
}